# Dependencies
node_modules
npm-debug.log
yarn-error.log

# Build
build

# Environment
.env
.env.local
.env.*.local

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Documentation
README.md

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# Test
coverage
.nyc_output
